* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(145deg, #0c0378, #3b0351);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8e6e6;
  background-repeat: no-repeat;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  padding: 5px;
}
.password-box {
  width: 90%;
  height: 40px;
  background-color: #fff;
  margin: 50px 0 5px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  color: black;
}
.fields-inputs,
.length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 80%;
}
.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
button {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  border: none;
  background-color: rgb(14, 115, 14);
  cursor: pointer;
}
button:hover {
  background-color: #018201;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
  cursor: pointer;
}
input[type="number"] {
  width: 50px;
  height: 28px;
  accent-color: green;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
}
